
body {
    background-color: #cfc6cc;
    background-color: #389060;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
body {
    font-family: 'Arial', sans-serif;
  }

h1 {
    color: #c6b4b1; /* Cor do texto */
  }
  
  body {
    background-color: #5858b0; /* Cor de fundo */
  }
  .passo {
    display: none;
}
.passo.ativo {
  display:block;
}